@mixin flexCenter($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: center;
}
$dark-gray: gray;
$light-gray: lightgray;

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.top-banner {
    background-color: #1d1d1b;
    color: $light-gray;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    nav ul {
        display: flex;
        li {
            padding: 0 10px;
        }
    }
    span {
        padding: 0 10px;
    }
}
header {
    @include flexCenter(row);
    height: 140px;
    box-shadow: 0px 3px 3px $light-gray;
    nav {
       padding: 0 120px; 
       ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        li {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            span {
                font-weight: inherit;
                padding-right: 10px;
            }
        }
    }
    }
}
.logo {
    width: 320px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-weight: 500;
    font-size: 24px;
    border: 1px solid $dark-gray;
    background-color: $light-gray;
}
.cart-icon {
    width: 30px;
}
.product-flex-container {
    display: flex;
}
// .product-img {
//     width: 50vw;
// }
.product-info {
    background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    flex-basis: 50%;
    // width: 100%;
    .product-logo {
        margin-top: 30px;
    }
    .product-title {
        font-size: 22px;
        font-weight: 500;
        width: 320px;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 34px;
    }
    button {
        background-color: #141527;
        padding: 12px 40px;
        margin-top: 30px;
        color: white;
        font-size: 20px;
    }
    .article-no {
        margin-top: 35px;
        font-weight: 500;
        margin-bottom: 20px;
        span {
            font-weight: 500;
            opacity: 0.5;
        }
    }
}
.price {
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.label {
    background-color: black;
    color: $light-gray;
    padding: 5px 0px;
    width: 100px;
    display: inline-block;
    font-size: 16px;
}
.product-info-top {
    display: flex;
    justify-content: space-between;
    span:nth-child(2) {
        padding: 5px 30px;
        display: inline-block;
        font-size: 16px;
    }
}
.sizes {
    @include flexCenter(row);
    div {
        width: 30px;
        height: 30px;
        border: 1px solid $dark-gray;
        line-height: 30px;
        margin: 5px;
        margin-top: 20px;
        &:hover {
            background-color: black;
            color: $light-gray;
            cursor: pointer;
        }
    }
}
.accordion {
    text-align: left;
    padding: 0 50px;
}
.accordion-item {
    border-bottom: solid 1px $light-gray;
    &:first-child {
        border-top: solid 1px $light-gray;
    }
    .accordion-title {
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
        opacity: 0.5;
        &:hover {
            cursor: pointer;
        }
    }
    .accordion-description {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        p {
            padding-bottom: 20px;
            font-weight: 500;
        }
    }
}
.accordion-item.accordionActive {
    .accordion-title {
        opacity: 1;
    }
    .accordion-description {
        max-height: 100px;

    }
}
.arrow-icon {
    span:first-child {
        display: block;
        width: 14px;
        height: 1.5px;
        border-radius: 50%;
        background-color: $dark-gray;
        transform: rotate(45deg);
        transform-origin: top-left;
        position: relative;
        top: 10px;
        left: 1px;
    }
    span:nth-child(2) {
        display: block;
        width: 14px;
        height: 1.5px;
        border-radius: 50%;
        background-color: $dark-gray;
        transform: rotate(-45deg);
        transform-origin: top-right;
        margin-left: 10px;
        position: relative;
        top: 8px;
    }
}

.more-products-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    .more-products-title {
        margin-top: 140px;
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        h2, span {
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}
.more-products-grid {
    display: flex;
    justify-content: space-between;
    h2 {
        margin: 15px 0 10px 0;
    }
}
.product-suggestion {
    position: relative;
    text-align: center;
    .label {
        position: absolute;
        left: 0;
    }
    h2 {
        font-weight: 700;
        margin: 20px 0 10px 0;
    }
    p {
        width: 50%;
        display: inline-block;
    }
    .price {
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
.view-products {
    display: flex;
    .arrow-icon {
        transform: rotate(-90deg);
        padding-top: 20px;
        span {
            background-color: $dark-gray;
        }
}
}
.newsletter-section {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .newsletter-content {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: $light-gray;
        width: 75%;
        justify-content: space-between;
        .newsletter-text {
            text-align: center;
            width: 400px;
        }
        h3 {
            font-size: 40px;
            letter-spacing: 1px;
        }
        p {
            font-weight: 500;
            margin-top: 30px;
            line-height: 30px;
        }
    }
}
input[type=text] {
    height: 50px;
    width: 300px;
    background-color: white;
    padding-left: 20px;
}
input[type=submit] {
    background-color: #141527;
    height: 50px;
    color: white;
    font-size: 20px;
    width: 150px;
    text-align: center;
    letter-spacing: 1px;
}
.socials {
    max-width: 1440px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    button {
        width: 32%;
        height: 60px;
        border: 2px solid black;
        letter-spacing: 1px;
            font-size: 20px;
        font-weight: 500;
    }
}

// MOCKUP -------------------------------------------
.mockup {
    opacity: 0.4;
    width: 100%;
    max-width: 1700px;
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    text-align: center;
    //opacity: 1;
    //display: none;
}

