* {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-banner {
  background-color: #1d1d1b;
  color: lightgray;
  font-size: 14px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.top-banner nav ul {
  display: flex;
}
.top-banner nav ul li {
  padding: 0 10px;
}
.top-banner span {
  padding: 0 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 140px;
  box-shadow: 0px 3px 3px lightgray;
}
header nav {
  padding: 0 120px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
header nav ul li a {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}
header nav ul li a span {
  font-weight: inherit;
  padding-right: 10px;
}

.logo {
  min-width: 320px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid gray;
  background-color: lightgray;
}

.cart-icon {
  width: 30px;
}

.product-flex-container {
  display: flex;
}

.product-info {
  background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
  text-align: center;
  flex-basis: 50%;
  position: relative;
}
.product-info .product-logo {
  margin-top: 60px;
}
.product-info .product-title {
  font-size: 22px;
  font-weight: 500;
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 34px;
}
.product-info button {
  background-color: #141527;
  padding: 12px 40px;
  margin-top: 30px;
  color: white;
  font-size: 20px;
  transition: 0.1s;
}
.product-info button:hover {
  background-color: #2a2c46;
  cursor: pointer;
}
.product-info .article-no {
  margin-top: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.product-info .article-no span {
  font-weight: 500;
  opacity: 0.5;
}

.price {
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.label {
  background-color: black;
  color: lightgray;
  padding: 5px 0px;
  width: 100px;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 0;
}

.available-label {
  padding: 5px 30px;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  right: 0;
}
.available-label img {
  width: 15px;
  margin-right: 5px;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sizes div {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  line-height: 30px;
  margin: 5px;
  margin-top: 20px;
}
.sizes div:hover {
  background-color: black;
  color: lightgray;
  cursor: pointer;
}

.accordion {
  text-align: left;
  padding: 0 50px;
}

.accordion-item {
  border-bottom: solid 1px lightgray;
}
.accordion-item:first-child {
  border-top: solid 1px lightgray;
}
.accordion-item .accordion-title {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}
.accordion-item .accordion-title:hover {
  cursor: pointer;
}
.accordion-item .accordion-description {
  display: none;
  overflow: hidden;
  transition: all 0.5s ease;
}
.accordion-item .accordion-description p {
  padding-bottom: 20px;
  font-weight: 500;
}

.accordion-item.accordionActive .accordion-title {
  opacity: 1;
}
.accordion-item.accordionActive .accordion-description {
  max-height: 100px;
  display: block;
}

.arrow-icon span:first-child {
  display: block;
  width: 14px;
  height: 1.5px;
  border-radius: 50%;
  background-color: gray;
  transform: rotate(45deg);
  transform-origin: top-left;
  position: relative;
  top: 10px;
  left: 1px;
}
.arrow-icon span:nth-child(2) {
  display: block;
  width: 14px;
  height: 1.5px;
  border-radius: 50%;
  background-color: gray;
  transform: rotate(-45deg);
  transform-origin: top-right;
  margin-left: 10px;
  position: relative;
  top: 8px;
}

.more-products-section {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 30px;
}
.more-products-section .more-products-title {
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.more-products-section .more-products-title h2, .more-products-section .more-products-title span {
  font-weight: 500;
  letter-spacing: 1px;
}

.more-products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.more-products-grid h2 {
  margin: 15px 0 10px 0;
}

.product-suggestion {
  position: relative;
  text-align: center;
}
.product-suggestion img {
  width: 100%;
}
.product-suggestion .label {
  position: absolute;
  left: 0;
}
.product-suggestion h2 {
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.product-suggestion p {
  width: 50%;
  display: inline-block;
}
.product-suggestion .price {
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.product-suggestion .price.sale span:nth-child(1) {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  padding-right: 5px;
}
.product-suggestion .price.sale span:nth-child(2) {
  color: red;
  padding-left: 5px;
}

.view-products {
  display: flex;
}
.view-products .arrow-icon {
  transform: rotate(-90deg);
  padding-top: 20px;
}
.view-products .arrow-icon span {
  background-color: gray;
}

.newsletter-section {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.newsletter-section .newsletter-content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgray;
  width: 75%;
  justify-content: space-between;
}
.newsletter-section .newsletter-content .newsletter-text {
  text-align: center;
  width: 400px;
}
.newsletter-section .newsletter-content .newsletter-text img {
  overflow: hidden;
  min-height: 100%;
}
.newsletter-section .newsletter-content h3 {
  font-size: 40px;
  letter-spacing: 1px;
}
.newsletter-section .newsletter-content p {
  font-weight: 500;
  margin-top: 30px;
  line-height: 30px;
}

form {
  display: flex;
  align-items: center;
}

input[type=text] {
  height: 50px;
  width: 300px;
  background-color: white;
  padding-left: 20px;
  color: gray;
}

input[type=submit] {
  background-color: #141527;
  height: 50px;
  color: white;
  font-size: 20px;
  width: 150px;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.1s;
}

input[type=submit]:hover {
  background-color: #2a2c46;
  cursor: pointer;
}

.socials {
  max-width: 1500px;
  padding: 0 30px;
  margin: 80px auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.socials button {
  width: 32%;
  height: 60px;
  border: 2px solid black;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.1s;
}
.socials button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

footer {
  background-color: black;
}

.footer-navigation-container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: space-between;
  text-align: left;
  color: white;
  padding: 100px 30px;
}
.footer-navigation-container .footer-navigation {
  width: 100%;
  line-height: 45px;
}
.footer-navigation-container .footer-navigation h4 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
}
.footer-navigation-container .footer-navigation:nth-child(4) {
  margin-top: 45px;
}
.footer-navigation-container p:first-of-type {
  font-weight: 700;
}

.company-text {
  color: white;
  max-width: 1260px;
  text-align: center;
  margin: 0 auto;
  padding: 70px 0px;
  line-height: 24px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.company-text span {
  font-weight: 700;
}

.copyright {
  text-align: center;
  color: gray;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1350px) {
  .company-text {
    margin: 0 30px;
  }
  header {
    height: 100px;
  }
  header nav {
    padding: 0 50px;
  }
  header nav ul {
    width: 250px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  .logo {
    min-width: 210px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }
  .cart-icon {
    width: 20px;
  }
  .top-banner {
    font-size: 12px;
  }
  .product-info .product-title {
    font-size: 20px;
  }
  .product-info button {
    font-size: 16px;
  }
  .more-products-section .more-products-title {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  input[type=submit] {
    font-size: 16px;
  }
  .socials button {
    font-size: 16px;
    height: 50px;
  }
}
@media screen and (max-width: 1070px) {
  .more-products-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
  .product-flex-container {
    display: block;
  }
  .product-img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .top-banner {
    display: block;
  }
  .top-banner span {
    display: none;
  }
  .socials {
    flex-direction: column;
  }
  .socials button {
    width: 100%;
  }
  .socials button:not(:first-child) {
    margin-top: 15px;
  }
}
.mockup {
  opacity: 0.4;
  width: 100%;
  max-width: 1700px;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  text-align: center;
  display: none;
}/*# sourceMappingURL=style.css.map */