@mixin flexCenter($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: center;
}
$dark-gray: gray;
$light-gray: lightgray;

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

// -----------------HEADER --------------------

.top-banner {
    background-color: #1d1d1b;
    color: $light-gray;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    nav ul {
        display: flex;
        li {
            padding: 0 10px;
        }
    }
    span {
        padding: 0 10px;
    }
}
.hamburger-menu {
    display: none;
    &:hover {
        cursor: pointer;
    }
}
.hamburger-span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    margin: 5px;
    transition: 0.2s;
}
.hamburger-span.cross:nth-child(2) {
    opacity: 0;
}
.hamburger-span.cross:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: top-left;
  position: relative;
    top: 8px;
}
.hamburger-span.cross:nth-child(3) {
    position: relative;
    top: -8px;
    transform: rotate(-45deg);
}
header {
    @include flexCenter(row);
    height: 140px;
    box-shadow: 0px 3px 3px $light-gray;
    nav {
       padding: 0 120px; 
       ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        li a {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            span {
                font-weight: inherit;
                padding-right: 10px;
            }
        }
    }
    }
}
.logo {
    min-width: 320px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-weight: 500;
    font-size: 24px;
    border: 1px solid $dark-gray;
    background-color: $light-gray;
}
.cart-icon {
    width: 30px;
}


// -----------------MAIN PRODUCT --------------------
.product-img-container {
    position: relative;
}
.product-img {
    width: 100%;
}
.img-gallery-buttons {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); 
}
.gallery-circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    margin: 0 5px;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}
.gallery-circle:first-of-type {
    opacity: 1;
}
.product-flex-container {
    display: flex;
}
.product-info {
    background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    flex-basis: 50%;
    position: relative;
    .product-logo {
        margin-top: 60px;
    }
    .product-title {
        font-size: 22px;
        font-weight: 500;
        width: 320px;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 34px;
    }
    button {
        background-color: #141527;
        padding: 12px 40px;
        margin-top: 30px;
        color: white;
        font-size: 20px;
        transition: 0.1s;
}
    button:hover {
        background-color: #2a2c46;
        cursor: pointer;
    }
    .article-no {
        margin-top: 35px;
        font-weight: 500;
        margin-bottom: 20px;
        span {
            font-weight: 500;
            opacity: 0.5;
        }
    }
}
.price {
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.label {
    background-color: black;
    color: $light-gray;
    padding: 5px 0px;
    width: 100px;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 0;
}
.available-label {
    padding: 5px 30px;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 0;
    img {
        width: 15px;
        margin-right: 5px;
    }
}
.sizes {
    @include flexCenter(row);
    div {
        width: 30px;
        height: 30px;
        border: 1px solid $dark-gray;
        line-height: 30px;
        margin: 5px;
        margin-top: 20px;
        &:hover {
            background-color: black;
            color: $light-gray;
            cursor: pointer;
        }
    }
}

//accordion --------
.accordion {
    text-align: left;
    padding: 0 50px;
}
.accordion-item {
    border-bottom: solid 1px $light-gray;
    &:first-child {
        border-top: solid 1px $light-gray;
    }
    .accordion-title {
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
        opacity: 0.5;
        &:hover {
            cursor: pointer;
        }
    }
    .accordion-description {
        display: none;
        overflow: hidden;
        transition: all 0.5s ease;
        p {
            padding-bottom: 20px;
            font-weight: 500;
        }
    }
}
.accordion-item.accordion-active {
    .accordion-title {
        opacity: 1;
    }
    .accordion-description {
        max-height: 100px;
        display: block;

    }
}
.arrow-icon {
    span:first-child {
        display: block;
        width: 14px;
        height: 1.5px;
        border-radius: 50%;
        background-color: $dark-gray;
        transform: rotate(45deg);
        transform-origin: top-left;
        position: relative;
        top: 10px;
        left: 1px;
    }
    span:nth-child(2) {
        display: block;
        width: 14px;
        height: 1.5px;
        border-radius: 50%;
        background-color: $dark-gray;
        transform: rotate(-45deg);
        transform-origin: top-right;
        margin-left: 10px;
        position: relative;
        top: 8px;
    }
}


// -----------------SUGGESTED PRODUCTS --------------------

.more-products-section {
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 30px;
    .more-products-title {
        margin-top: 140px;
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        h2, span {
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}
.more-products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    h2 {
        margin: 15px 0 10px 0;
    }
}
.product-suggestion {
    position: relative;
    text-align: center;
    img {
        width: 100%;
    }
    .label {
        position: absolute;
        left: 0;
    }
    h2 {
        font-weight: 700;
        margin: 20px 0 10px 0;
    }
    p {
        width: 50%;
        display: inline-block;
    }
    .price {
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .price.sale {
        span:nth-child(1) {
            text-decoration: line-through;
            text-decoration-thickness: 1px;
            padding-right: 5px;
        }
        span:nth-child(2) {
            color: red;
            padding-left: 5px;
        }
    }
}
.view-products {
    display: flex;
    .arrow-icon {
        transform: rotate(-90deg);
        padding-top: 20px;
        span {
            background-color: $dark-gray;
        }
}
}
.view-products-2 {
        display: none;
        letter-spacing: 1px;
        justify-content: right;
        span {
            font-weight: 500;
        }
        .arrow-icon {
            transform: rotate(-90deg);
            span {
                background-color: $dark-gray;
                width: 10px;
                height: 0.2px;
            }
            span:first-child {
                top: 10px;
                left: 3px;
            }
            span:nth-child(2) {
                top: 9px;
            }
        }
        }
// -----------------NEWSLETTER --------------------
.newsletter-section {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    img {
        min-width: 1443px;
    }
    .newsletter-content {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: $light-gray;
        width: 75%;
        justify-content: space-between;
        .newsletter-text {
            text-align: center;
            width: 400px;
            img {
              overflow: hidden;  
              min-height: 100%;
            }
            
        }
        h3 {
            font-size: 40px;
            letter-spacing: 1px;
        }
        p {
            font-weight: 500;
            margin-top: 30px;
            line-height: 30px;
        }
    }
}
form {
    display: flex;
    align-items: center;
}
input[type=text] {
    height: 50px;
    width: 300px;
    background-color: white;
    padding-left: 20px;
    color: $dark-gray;
}
input[type=submit] {
    background-color: #141527;
    height: 50px;
    color: white;
    font-size: 20px;
    width: 150px;
    text-align: center;
    letter-spacing: 1px;
    transition: 0.1s;
}
input[type=submit]:hover {
    background-color: #2a2c46;
    cursor: pointer;
}
.socials {
    max-width: 1500px;
    padding: 0 30px;
    margin: 80px auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    button {
        width: 32%;
        height: 60px;
        border: 2px solid black;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 500;
        transition: 0.1s;
}
    button:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }
}


// -----------------FOOTER --------------------
footer {
    background-color: black;
}
.footer-navigation-container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: left;
    color: white;
    padding: 100px 30px;
    .footer-navigation {
        width: 100%;
        line-height: 45px;
        h4 {
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 24px;
        }
    }
    .footer-navigation:nth-child(4) {
        margin-top: 45px;
    }
    p:first-of-type {
        font-weight: 700;
    }
}
.company-text {
    color: white;
    max-width: 1500px;
    text-align: center;
    margin: 0 auto;
    padding: 70px 150px;
    line-height: 24px;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    span {
        font-weight: 700;
    }
}
.copyright {
    text-align: center;
    color: $dark-gray;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 30px;
}
@media screen and (max-width: 1510px) {
    .company-text {
        padding: 50px 00px;  
        margin: 0 30px; 
     }
     .footer-navigation-container {
        padding: 70px 30px;
        .footer-navigation {
            width: 100%;
            line-height: 45px;
            h4 {
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 24px;
            }
        }
        .footer-navigation {
            h4 {
                font-size: 22px;
            }
        }
        .footer-navigation:nth-child(4) {
            margin-top: 45px;
            width: fit-content;
            white-space: nowrap;
        }
    }
}
@media screen and (max-width: 1350px) {
    header {
        height: 100px;
        nav {
           padding: 0 50px; 
           ul {
            width: 250px;
            li a {
                font-size: 16px;
            }
        }
        }
    }
    .logo {
        min-width: 210px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
    }
    .cart-icon {
        width: 20px;
    }
    .top-banner {
        font-size: 12px;
    }
    .product-info {
        .product-title {
            font-size: 20px;
        }
        button {
            font-size: 16px;
        }
    }
    .more-products-section {
        .more-products-title {
            font-size: 16px;
            margin-bottom: 20px;
            margin-top: 80px;
        }
    }
    input[type=submit] {
        font-size: 16px;
    }
    .socials {
        button {
            font-size: 16px;
            height: 50px;
        }
    }
}
@media screen and (max-width: 1170px) { 
    .img-gallery-buttons {
        bottom: 60px;
    }
}
@media screen and (max-width: 1070px) {
    .img-gallery-buttons {
        bottom: 25px;
    }
    .more-products-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
    .product-flex-container {
    display: block;
    }
    .product-img {
        width: 100%;
    }
    .view-products {
    display: none;
    }
    .view-products-2 {
        margin-top: 20px;
        display: flex;
        }
    .newsletter-section {
    .newsletter-content {
        @include flexCenter(column);
        align-items: center;
        position: absolute;
        .newsletter-text {
            text-align: center;
            width: 400px;
            margin-bottom: 30px;
            p {
                margin-top: 10px;
            }
        }
        h3 {
            font-size: 32px;
        }
    }
}
    input[type=text] {
        height: 50px;
        width: 200px;
    }
    input[type=submit] {
        font-size: 16px;
        width: 100px;
    }
    .hamburger-menu {
        display: block;
        padding-left: 20px;
        z-index: 2;
    }
    .hamburger-menu.fixed {
        position: fixed;
    }
    header {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        height: 80px;
        nav {
            margin-left: auto;
            padding-right: 22px;
           ul {
            width: 130px;
            li a {
                span {
                    display: none;
                }
            }
        }
        }
        .hamburger-navigation {
            display: none;
            box-shadow: 0px 3px 3px $light-gray;
            position: fixed;
            top: 0;
            left: 0;
            background-color: white;
            padding: 0;
            height: 100vh;
            width: 300px;
            z-index: 1;
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                padding-top: 120px;
                li {
                    padding: 10px;
                }
            }
        }
        .hamburger-navigation.hamburger-active {
            display: block;
        }
    }
    .logo {
        min-width: 120px;
        height: 40px;
        line-height: 40px;
    }
    .cart-icon {
        width: 30px;
    }
}
@media screen and (max-width: 670px) {
    .top-banner {
        display: block;
        span {
            display: none;
        }
    }
    .socials {
        flex-direction: column;
        button {
            width: 100%;
        }
        button:not(:first-child) {
            margin-top: 15px;
        }
    }
    .footer-navigation-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1500px;
        margin: 0 auto;
        justify-content: space-between;
        text-align: left;
        color: white;
        padding: 100px 30px;
        .footer-navigation {
            width: 100%;
            line-height: 45px;
            width: fit-content;
            white-space: nowrap;
            h4 {
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 24px;
            }
        }
        .footer-navigation:nth-child(3) {
            margin-top: 50px;
        }
        .footer-navigation:nth-child(4) {
            margin-top: calc(50px + 45px);
        }
        p:first-of-type {
            font-weight: 700;
        }
    }
}




// MOCKUP -------------------------------------------
.mockup {
    opacity: 0.4;
    width: 100%;
    max-width: 1700px;
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    text-align: center;
    //opacity: 1;
    display: none;
}

